# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Jupiter
.ipynm_checkpoints/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Environment
.env

# OS
.DS_Store

# Logs
*.log